.box-center {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.demo-layout-transparent {
  background-color: #006be5;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/*
======================
Admin's styles
======================
*/

.admin-main-header {
  height: 4.5em;
}

.admin-tab-container {
  padding-bottom: 4em;
}

/* .admin-tab-container {
  background-color: #eeeeee;
} */

/*
======================
Table List's styles
======================
*/
.dataTables_wrapper {
  padding-top: 1em;
}

.dataTables_filter{
  padding-bottom: 1em;
}

/* .dataTables_length{
  
} */
